// Colors
$primary-color: #87d9f2;
$secondary-color: #0f1923;
$accent-color: #ff4655;
$white: #fafafa;
$black: black;
$error-red: #f00000;
$success-green: #045e04;

// Breakpoints
$bp-small: 400px;
$bp-medium: 520px;
$bp-large: 860px;

// Sizes
$nav-height: 75px;
$aside-width: 300px;
$content-width: 500px;

// Border radiuses
$br-small: 4px;
$br-medium: 10px;

// Box shadows
$bs-small: 0 1px 16px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.2);
$bs-medium: 0 2px 24px rgba(0, 0, 0, 0.12), 0 1px 12px rgba(0, 0, 0, 0.24);

// Misc
$medium-border: 2px solid rgba(255, 255, 255, 0.2);
$light-border: 1px solid rgba(0, 0, 0, 0.2);
$font-stack: "Exo 2", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
  sans-serif, sans-serif;
