@import "globals";

.filters {
  box-sizing: border-box;
  padding: 15px 25px;
  background: rgba($secondary-color, 0.8);
  box-shadow: $bs-medium;
}

.filters__content {
  max-width: $content-width;
  margin: 0 auto;
  color: $white;
}

.filters__header {
  display: flex;
  align-items: baseline;
}

.filters__header > *:not(:first-child) {
  margin-left: 15px;
}

.filters h3 {
  display: inline-block;
  flex-grow: 1;
  margin: 0 15px 0 0;
  font-size: 24px;
}

.filters__fields {
  display: none;
  margin-bottom: 15px;
}

.fields--expanded {
  display: block;
}

.filters fieldset {
  margin-top: 20px;
  padding: 15px;
  padding-top: 10px;
  background: $white;
  color: $secondary-color;
  box-shadow: $bs-medium;
  border-radius: $br-medium;
  border: $medium-border;
  border-color: rgba($white, 0.3);
}

.filters h4 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
  margin-bottom: 8px;
  color: rgba($secondary-color, 0.7);
  font-weight: 600;
  text-transform: uppercase;
  & > *:first-child {
    margin-right: 4px;
  }
}

.filters label {
  display: flex;
  align-items: center;
}

// Filters are displayed horizontally and above post list
@media (min-width: $bp-medium) {
  .fields--expanded {
    display: flex;
  }

  .filters fieldset {
    flex-grow: 1;
    flex-basis: 0; // needed for fields to be equal width
  }
}

// Filters are vertical again, on the side of the page
@media (min-width: $bp-large) {
  .filters {
    position: fixed;
    top: $nav-height;
    height: calc(100% - #{$nav-height});
    overflow-y: auto;
    width: $aside-width;
  }

  .filters__content {
    padding-bottom: 10px;
  }

  .filters__fields {
    display: block;
  }
}
