@import "globals";

.post-list {
  margin: 0 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.post-list--empty {
  color: $white;
  font-size: 24px;
  text-align: center;
}
