@import "globals";

.post {
  margin: 0 15px 30px 15px;
  height: 100%;
}

.post__fields {
  margin-top: 10px;
  margin-bottom: 20px;
}

.post__fields td:first-child {
  padding-right: 10px;
  color: rgba($secondary-color, 0.7);
  font-weight: 600;
  text-transform: uppercase;
}

.post__fields tr {
  height: 40px;
}
