@import "globals";

.post {
  margin: 0 15px 30px 15px;
  height: 100%;
}

.post__fields {
  margin: 20px 0;
}

.post__fields td:first-child {
  padding-right: 15px;
  color: rgba($secondary-color, 0.7);
  font-weight: 600;
  text-transform: uppercase;
}

.post__fields td > div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  & > * {
    margin-right: 4px;
  }
}

.post__fields tr {
  height: 40px;
}
