@import "globals";

.post-form {
  display: flex;
  flex-flow: column nowrap;
  margin: 8px 0;
}

.post-form__field {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  width: 100%;
  padding: 8px 24px;
  border: none;
  &:not(:last-of-type) {
    margin-bottom: 8px;
  }
  & input:not(:last-child) {
    margin-bottom: 8px;
  }
}

.post-form h4 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
  margin-bottom: 8px;
  color: rgba($white, 0.95);
  text-transform: uppercase;
  & > * {
    margin-right: 4px;
  }
}

.post-form input[type="text"] {
  display: block;
  font-size: 16px;
}

.post-form__controls {
  margin: 16px auto 0 auto;
  text-align: center;
}

.post-form__btn-wrapper {
  display: inline-block;
}

.post-form__btn-wrapper:not(:last-child) {
  margin-right: 10px;
}

.post-form .invalid {
  border-color: transparentize($error-red, 0.1);
}

.post-form .invalid legend {
  color: transparentize($error-red, 0.1);
  background: $primary-color;
}

#new-post-maps.invalid legend::after {
  content: " (select at least one)";
}

@media (min-width: $bp-medium) {
  .post-form__controls {
    text-align: left;
  }
}
