@import "globals";

.welcome-message {
  display: block;
  transition: opacity 500ms;
  span {
    color: darken($accent-color, 10%);
    font-weight: bold;
  }
}

.welcome-message__hidden {
  opacity: 0;
}
